<?xml version="1.0" encoding="UTF-8"?>
<suite name="AmazonAutomationSuite" verbose="1" parallel="false">
  <parameter name="browser" value="chrome"/>
  <parameter name="appURL" value="https://www.amazon.com/"/>
  <parameter name="timeout" value="10"/>

  <test name="AmazonSearchTests">
    <classes>
      <class name="tests.AmazonSearchTest"/>
    </classes>
  </test>
</suite>
